.app-container
  %h1 CIGARETTES
  = form_for(@new_cigarette, remote: true, method: :post) do |f|
    = f.hidden_field :date, value: DateTime.now
    %button.btn.btn-transparent.btn-add{ type: 'submit' }
      +
  #cigarettes
    = render 'cigarettes/view'
