- @cigarettes_by_day.each_with_index do |day_cigarettes, index|
  .day-cigarettes
    - if index == 0
      %span.today >
    - day_cigarettes[:cigarettes].each do |cigarette|
      %span.cigarette= "I"
